//将所有 Vue 组件中的所有已处理的 CSS 提取为单个 CSS 文件配置示例
module.exports = function(config) {
    return {
        postcss: [require('postcss-cssnext')()],
        loaders: config.cssLoaders({
            sourceMap: config[config.env]['sourceMap'],
            extract: config.env === 'production'
        })
    }
}